@import "../colors";

.title-section-employee {
    color: $color-solid-2 !important;
    font-weight: 800 !important;
    text-align: center;
    text-transform: uppercase;
}

.bg-container-avatar {
    width: 250px;
    height: 250px;
    background-color: $color-solid-5;
    border-top-left-radius: 50%; 
    border-top-right-radius: 50%;
    display: flex;
    justify-content: center;
}

.bg-container-avatar-bottom {
    background-color: $color-solid-5;
    color: #FFFFFF;
    font-weight: 700 !important;
    font-size: 19px;
    text-align: center;
    text-transform: uppercase;
    width: 250px;
    height: 200px;
}

.avatar-employee {
    align-items: center;
    border: 8px solid #FFFFFF !important;
    display: flex;
    justify-content: center;
    margin-top: 20px !important;
}

.name-employee, .active-employee {
    font-weight: 700 !important;
}

.summary, .duration {
    font-weight: 400;
}

.summary {
    text-align: justify;
}

.name-employee, .active-employee {
    text-transform: uppercase;
}

.active-employee {
    color: $color-solid-5 !important;
}

.duration {
    color: $color-solid-2 !important;
}

.column-photo {
    display: flex !important;
    justify-content: center;
}

// Medium devices (tablets, 768px and up)
@media (max-width: 767px) {
    .bg-container-avatar-bottom {
        height: auto;
        padding-bottom: 15px;
    }

    .name-employee, .active-employee, .duration {
        text-align: center;
    }

    .summary {
        margin-bottom: 60px !important;
    }
}
