@import "../colors";

.btn-menu {
    height: auto !important;
}

.anticon-menu {
    color: $color-solid-5 !important;
    font-size: 32px;
}

.menu-item-section {
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 15px;
    color: #000000;
    display: flex;
    justify-content: center;
    text-align: center !important;
    width: 100px;
    height: 77px;
    
    span {
        font-size: 11px;
        font-weight: 600;
        text-transform: uppercase;
    }
}

@media (max-width: 768px) {
    .menu-item-section {
        width: 90px !important;
        
        span {
            font-size: 10px !important;
        }
    }
}

// Cuando el menú sean los mosaicos de 'Secciones' se ajusta la altura del Drawer
.ant-drawer-content {
    height: auto !important;
    max-height: 100% !important;
    background-color: rgba($color: $color-solid-1, $alpha: 0.9) !important;
}

.ant-drawer-content-wrapper {
    box-shadow: unset !important;
}

.ant-drawer-header-title {
    justify-content: end;

    .ant-drawer-close {
        color: $color-solid-1;
    }

    .ant-drawer-close:hover {
        color: $color-solid-5;
    }
}

.ant-drawer-close {
    background-color: #FFFFFF !important;
    padding: 5px;
    border-radius: 6px;
    margin-inline-end: 0px !important;
}

.ant-drawer-body {
    padding-top: 0px !important;
    margin-bottom: 30px;
}