@media (min-width: 500px) {
    .card-program-gallery {
        height: 110px !important;
    }
}

@media (min-width: 600px) {
    .card-program-gallery {
        height: 150px !important;
    }
}
.title-gallery {
    margin-top: 0px !important;
}

.overlay-text {
    color: white;
    font-size: 40px;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}